<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>A LocationLock document has successfully been assigned to:</h3>
    <p><%= @user.email %><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using LocationLock and have a great day!</p>
  </body>
</html>