

<div class="space">
</div><div class="space">
</div><div class="space">
</div><div class="space">
</div>

<div class="document">

<div class="space">
</div>

<table class="doc-new">


<tr>
<td>
<td><h1>Update Your Location </h1></td>
</td>
</tr>

<tr>
<%= form_tag "/users/#{current_user.id}", method: :patch do %> 
<div> 
    <td><h2><%= label_tag :current_location %></h2></td>
    <td><h2><%= text_field_tag :current_location, size: 90, id: 'current_location' %></h2></td>
</div>

<div>
<td><%= submit_tag "update the location", class: "btn btn-info submit" %></td>
</div>
<% end %>
</tr>

</table>
</div>


<script>

window.onload = getLocation();
document.getElementById("current_location").value = 'Please wait a moment';
var x = document.getElementById("current_location");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.value = position.coords.latitude + " , " + position.coords.longitude; 
}


</script>