/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #BA4A00;
}

.black {
    color: #000;
    width: 500px;
    margin: auto;
}

.document-index {
    background-image: url('/img/documents.jpg'); 
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#longitude {color: white}

#latitude {color: white}

#map {
    height: 300px;
    width: 100%;
}

.document {
    background-color: #DCDCDC;
    border-radius: 10px; 
  /*  vertical-align: middle;*/
}

.form-center {
    text-align: center;
}

.table-center {
    /*text-align: center;*/
}   

.table-inside {
    background-color: blue;
    
}

.choose-file {
    font-size: 16px;
}

.document-new {
    padding: 20px 0 60px;
    width: 450px; 
    margin: auto;
}


.doc-new tr td:first-child{
    text-align: right;
    border: 1px solid black;
}

.doc-new tr td {
    padding: 5px 8px;
    border: 1px solid black;
    /*vertical-align: text-top;*/
}

.space {
    height: 30px;
}

table.doc-new {
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
}

.submit {
    background-color: #669999;
    border-color: #669999;
}

.document-heading{
    width: 99%;
    margin-left:auto;
    margin-right:auto;
}

.location-heading {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.location-link {
    color: #669999;
}
/*.intro-header {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
}
*/
