/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #88644C;
}

.black {
    color: #000;
}

.document-index {
    background-image: url('/img/documents.jpg'); 
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#longitude {color: white}

#latitude {color: white}

#map {
    height: 300px;
    width: 50%;
}

.document {
    background-color: #D7CCB2;
    
}

.form-center {
    text-align: center;
}

.choose-file {
    width: 200px;
    margin: auto;
}

.document-new {
    padding: 20px 0 60px;
    width: 450px; 
    margin: auto;
}
/*.intro-header {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
}
*/
